<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farsitel.bazaar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.farsitel.bazaar.PaymentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>
</manifest>