<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farsitel.bazaar">
    <queries>
        <package android:name="com.farsitel.bazaar" />
    </queries>
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    <application>
        <activity android:name="com.android.wrapper.WrapperBillingActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>
</manifest>